@import "preflight.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  vertical-align: baseline;
}

.ant-typography-edit {
  opacity: 0;
}

.ant-typography:hover {
  .ant-typography-edit {
    opacity: 100;
  }
}